<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load custom_filters %}
<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>Категория - {{news.category_type}}</h1>
<h2>{{news.title |censor}}</h2>
<p>{{ news.text |censor}}</p>
<p>{{ news.author}}</p>
<p>Дата публикации: {{ news.date_creation|date:"d.m.Y, H:i" }}</p>
<h3>Rating - {{news.post_rating}}</h3>

{% endblock content %}